<div class="row page-title">
  <div class="col-xs-8">
    <h2><%= @title %></h2>
  </div>
  <div class="col-xs-4">
    <%= link_to @all_titles[:create], new_cliente_path, class: 'btn btn-primary pull-right' %>
  </div>
</div>

<h3><%= @url %></h3>

<%= bootstrap_form_tag(url: clientes_path, layout: :horizontal, method: :get, html: { class: 'form-search' }) do |f| %>
  <div class="row">
    <label class="col-sm-2 control-label" for="search"><%= I18n.t('general.search') %></label>
    <div class="col-sm-8">
      <%= search_field_tag :search, params[:search], class: 'form-control', hide_label: true, placeholder: I18n.t('general.search_tip', fields: Cliente.humanize_search_fields.to_sentence.downcase) %>
    </div>
    <div class="col-sm-2">
      <%= f.submit I18n.t('general.search'), class: 'btn btn-primary btn-block' %>
    </div>
  </div>
<% end %>

<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>Nome</th>
      <th>E-mail</th>
      <th class="text-center action-column">Ações</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td colspan="4"><%= page_entries_info @items %></td>
    </tr>
  </tfoot>
  <% if @items.present? %>
    <tbody>
      <% @items.each do |cliente| %>
        <tr>
          <td><%= cliente.nome %></td>
          <td><%= mail_to cliente.email %></td>
          <td class="text-center">
            <!-- Single button -->
            <div class="btn-group">
              <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-cog"></span> <span class="caret"></span>
              </button>
              <ul class="dropdown-menu pull-right">
                <li><a href="<%= cliente_path(cliente) %>"><span class="glyphicon glyphicon-eye-open"></span> Ver</a></li>
                <li><a href="<%= edit_cliente_path(cliente) %>"><span class="glyphicon glyphicon-edit"></span> Editar</a></li>
                <li role="separator" class="divider"></li>
                <li class="text-danger">
                  <%= bootstrap_form_for(cliente, method: :delete) do end; %>
                  <a class="btn-delete-cliente" data-toggle="model" data-target="#modal-cliente" data-nome="<%= cliente.nome %>" href="#edit_cliente_<%= cliente.id %>">
                    <span class="glyphicon glyphicon-trash"></span> Remover
                  </a>
                </li>
              </ul>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</table>

<%= paginate(@items) if @items.present? %>

<div class="modal fade" tabindex="-1" role="dialog" id="modal-cliente">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body">
        Tem certeza que deseja excluir o cliente <b class="cliente-nome">nome do cliente</b>?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-danger" data-form="" id="btn-confirm-remove">Remover</button>
      </div>
    </div>
  </div>
</div>

<% content_for :javascripts do %>
  <script>
    $(document).ready(function() {
      $('#modal-cliente #btn-confirm-remove').click(function() {
        var formId = $(this).data('form');

        if (formId) {
          $(formId).submit();
        }
      });

      $('.btn-delete-cliente').click(function() {
        var formId = $(this).attr('href'),
          clienteNome = $(this).data('nome');

        $('#modal-cliente .cliente-nome').html(clienteNome);
        $('#modal-cliente #btn-confirm-remove').data('form', formId);

        $('#modal-cliente').modal();
      });
    });
  </script>
<% end %>