<div class="login-container">
  <h2 class="text-center">Login</h2>

  <%= bootstrap_form_tag(url: login_path, class: 'login-form') do |f| %>
    <%= f.password_field :code, label: 'Código', class: 'input-lg' %>
    <%= f.submit "Enviar", class: 'btn btn-block btn-lg' %>
  <% end %>
</div>