<%= bootstrap_form_for(@item, layout: :horizontal, label_col: 'col-sm-3', control_col: 'col-sm-9') do |f| %>

    <%= f.alert_message "Por favor, corrija os problemas abaixo." %>
    
    <%= f.text_field :data_entrada, control_col: 'col-sm-3', value: @item.present? && @item.data_entrada? ? @item.data_entrada.strftime('%d/%m/%Y') : nil %>
    <%= f.text_field :data_saida, control_col: 'col-sm-3', value: @item.present? && @item.data_saida? ? @item.data_saida.strftime('%d/%m/%Y') : nil %>

    <% quartos = @item.persisted? ? [@item.quarto] : [] %>
    
    <%= f.select :idquarto, quartos.collect {|q| [ q.numero, q.idquarto ] }, { include_blank: true, control_col: 'col-sm-2' } %>

    <div class="form-group">
        <label class="col-sm-3 control-label">Valor <%= @item.valor_total.to_f.round(2) %></label>
        <div class="col-sm-3">
            <div class="input-group">
                <span class="input-group-addon">R$</span>
                <input class="form-control" id="reserva_valor_total_static" alt="decimal" type="text" readonly value="<%= @item.valor_total.to_f %>" />
            </div>
        </div>
    </div>

    <hr />

    <%= f.select :idcliente, Cliente.order(:nome).collect {|c| [ c.nome, c.idcliente ] }, { include_blank: true, control_col: 'col-sm-4' } %>
    <%= f.select :idfuncionario, Funcionario.order(:nome).collect {|f| [ f.nome, f.idfuncionario ] }, { include_blank: true, control_col: 'col-sm-4' } %>

    <hr />
    
    <%= f.form_group :meals do %>
        <%= f.label 'Refeições' %>
        <%= f.check_box :cafe_manha %>
        <%= f.check_box :almoco %>
        <%= f.check_box :jantar %>
    <% end %>

    <hr />

    <%= f.form_group do %>
        <%= f.primary 'Salvar' %>

        <%= link_to 'Voltar', quartos_path, class: 'btn btn-primary' %>
    <% end %>
<% end %>

<% content_for :javascripts do %>
  <script>
    $(document).ready(function () {
        var idReserva = <%= @item.idreserva? || 'null' %>,
            ultimaDataEntrada,
            ultimaDataSaida;

        function bloqueiaComboQuarto() {
            $('#reserva_idquarto').attr('disabled', '');
        }
        function limparComboQuarto() {
            $('#reserva_idquarto option').remove();
            bloqueiaComboQuarto();
        }

        $("#reserva_data_entrada, #reserva_data_saida").mask('00/00/0000');

        if (!idReserva) {
            limparComboQuarto();
        }
        
        $('#reserva_idquarto').change(function() {
            var idQuarto = $(this).val(),
                option = $(this).find('[value=' + idQuarto + ']');

            if (option) {
                var valorReserva = $(option).data('valor_reserva');

                $('#reserva_valor_total_static').val(valorReserva);
            }
        });

        $('#reserva_data_entrada, #reserva_data_saida').blur(function() {
            var dataEntrada = $('#reserva_data_entrada').val(),
                dataSaida = $('#reserva_data_saida').val();

            if (dataEntrada && dataSaida) {
                var url = '<%= disponibilidade_url %>',
                    idQuarto = $('#reserva_idquarto').val(),
                    data = {
                        id: idReserva,
                        data_entrada: dataEntrada,
                        data_saida: dataSaida
                    };

                limparComboQuarto();

                $.post(url, data, function(response, textSuccess) {
                    console.log('SUCCESS', 'RESPONSE', response);

                    if (response.meta.success) {
                        if (response.data.length > 0) {
                            $('#reserva_idquarto').removeAttr('disabled');
                            $('#reserva_idquarto option').remove();

                            var option = $('<option/>');
                            option.attr({
                                value: '',
                                'data-valor_reserva': 0
                            })
                            option.text('Selecione...');
                            $('#reserva_idquarto').append(option);
                            
                            for (i in response.data) {
                                var option = $('<option/>');

                                option.attr({
                                    value: response.data[i].idquarto,
                                    'data-valor_reserva': response.data[i].valor_reserva
                                });
                                option.text(response.data[i].numero);

                                $('#reserva_idquarto').append(option);
                            }

                            if (idQuarto) {
                                $('#reserva_idquarto').val(idQuarto);
                            }
                        }
                    }
                });
            } else {
                limparComboQuarto();
            }
        });
    });
  </script>
<% end %>