<div class="row page-title">
  <div class="col-xs-8">
    <h2><%= @title %></h2>
  </div>
  <div class="col-xs-4">
    <%= link_to @all_titles[:create], new_reserva_path, class: 'btn btn-primary pull-right' %>
  </div>
</div>

<h3><%= @url %></h3>

<%= bootstrap_form_tag(url: reservas_path, layout: :horizontal, method: :get, html: { class: 'form-search' }) do |f| %>
  <div class="row">
    <label class="col-sm-2 control-label" for="search"><%= I18n.t('general.search') %></label>
    <div class="col-sm-8">
      <%= search_field_tag :search, params[:search], class: 'form-control', hide_label: true, placeholder: I18n.t('general.search_tip', fields: Reserva.humanize_search_fields.to_sentence.downcase) %>
    </div>
    <div class="col-sm-2">
      <%= f.submit I18n.t('general.search'), class: 'btn btn-primary btn-block' %>
    </div>
  </div>
<% end %>

<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th data-toggle="tooltip" title="Número da reserva">#</th>
      <th>Cliente</th>
      <th>Quarto</th>
      <th>Funcionário</th>
      <th>Checkin</th>
      <th>Checkout</th>
      <th>Valor total</th>
      <th class="text-center action-column">Ações</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td colspan="8"><%= page_entries_info @items %></td>
    </tr>
  </tfoot>
  <% if @items.present? %>
    <tbody>
      <% @items.each do |reserva| %>
        <tr>
          <td><%= reserva.numero_reserva %></td>
          <td><%= reserva.cliente.nome %></td>
          <td><%= reserva.quarto.numero %></td>
          <td><%= reserva.funcionario.nome %></td>
          <td><%= l reserva.data_entrada %></td>
          <td><%= l reserva.data_saida %></td>
          <td><%= number_to_currency(reserva.valor_total) %></td>
          <td class="text-center">
            <!-- Single button -->
            <div class="btn-group">
              <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-cog"></span> <span class="caret"></span>
              </button>
              <ul class="dropdown-menu pull-right">
                <li><a href="<%= reserva_path(reserva) %>"><span class="glyphicon glyphicon-eye-open"></span> Ver</a></li>
                <li><a href="<%= edit_reserva_path(reserva) %>"><span class="glyphicon glyphicon-edit"></span> Editar</a></li>
                <li role="separator" class="divider"></li>
                <li class="text-danger">
                  <%= bootstrap_form_for(reserva, method: :delete) do end; %>
                  <a class="btn-delete-reserva" data-toggle="model" data-target="#modal-reserva" data-nome="<%= reserva.numero_reserva %>" href="#edit_reserva_<%= reserva.id %>">
                    <span class="glyphicon glyphicon-trash"></span> Remover
                  </a>
                </li>
              </ul>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</table>

<%= paginate(@items) if @items.present? %>

<div class="modal fade" tabindex="-1" role="dialog" id="modal-reserva">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body">
        Tem certeza que deseja excluir a reserva <b class="reserva-nome">nome do reserva</b>?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-danger" data-form="" id="btn-confirm-remove">Remover</button>
      </div>
    </div>
  </div>
</div>
<% content_for :javascripts do %>
  <script>
    $(document).ready(function() {
      $('#modal-reserva #btn-confirm-remove').click(function() {
        var formId = $(this).data('form');

        if (formId) {
          $(formId).submit();
        }
      });

      $('.btn-delete-reserva').click(function() {
        var formId = $(this).attr('href'),
          reservaNome = $(this).data('nome');

        $('#modal-reserva .reserva-nome').html(reservaNome);
        $('#modal-reserva #btn-confirm-remove').data('form', formId);

        $('#modal-reserva').modal();
      });
      
      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      });
    });
  </script>
<% end %>