<h3><%= @title %></h3>

<dl class="dl-horizontal">
  <dt>Número da reserva:</dt>
  <dd><%= @item.idreserva.to_s.rjust(5, '0') %></dd>

  <dt>Valor total:</dt>
  <dd><%= number_to_currency(@item.valor_total) %></dd>

  <dt>Cliente:</dt>
  <dd><%= @item.cliente.nome %></dd>

  <dt>Quarto:</dt>
  <dd><%= @item.quarto.numero %></dd>

  <dt>Funcionário:</dt>
  <dd><%= @item.funcionario.nome %></dd>

  <dt>Refeições:</dt>
  <dd><%= @item.refeicoes.to_sentence.capitalize %></dd>

  <dt>Entrada:</dt>
  <dd><%= @item.data_entrada.strftime('%d/%m/%Y') %></dd>

  <dt>Saída:</dt>
  <dd><%= @item.data_saida.strftime('%d/%m/%Y') %></dd>

</dl>

<%= bootstrap_form_for(@item, method: :delete) do |f| %>
  <%= link_to 'Voltar', reservas_path, class: 'btn btn-primary' %>
  <%= link_to 'Editar', edit_reserva_path(@item), class: 'btn btn-primary' %>

  <%= f.submit 'Remover', class: 'btn btn-danger' %>
<% end %>
