body { font-family: 'Quicksand', "Helvetica Neue", Helvetica, Arial, sans-serif !important; padding-top: 66px; }

body.home, body.login { 
  background: url('../img/hotel-background.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.page-title { margin-top: 0 !important; }
.page-title .btn { margin: 20px 0; }

.table thead th.action-column { width: 50px; }

.dropdown-menu > li.text-danger > a { color: #a94442 !important; }

.form-group .control-label.required::after { content: ' *'; color: #a94442; }

.form-horizontal.form-search { margin-bottom: 30px; }

.login-container { width: 300px; position: absolute; left: 50%; top: 50%; margin-left: -150px; margin-top: -131px; }
.login-container h2 { margin: 0 0 15px; font-weight: 300; }
.login-container h2, .login-container form { background-color: white; padding: 15px; border-radius: 5px; }
.login-container form label { display: block; font-size: 30px; font-weight: 300; text-align: center !important; }
.login-container form input { text-align: center !important; }

#dashboard-table tbody .quadrado { padding: 0px !important; }
#dashboard-table .quadrado span { display: block; width: 100%; height: 42px; }
#dashboard-table .quadrado span.unavailable { background-color: #337ab7; color: #fff; }