<%= bootstrap_form_for(@item, layout: :horizontal, label_col: 'col-sm-3', control_col: 'col-sm-9') do |f| %>
  <%= f.number_field :numero, control_col: 'col-sm-2', max: 9999, length: 4 %>
  <%= f.number_field :valor_diaria, control_col: 'col-sm-3', min: 0, max: 9999, step: 0.01 %>
  <%= f.number_field :numero_pessoas, control_col: 'col-sm-2', max: 8, length: 1 %>

  <hr />

  <%= f.form_group do %>
    <%= f.primary 'Salvar' %>

    <%= link_to 'Voltar', quartos_path, class: 'btn btn-primary' %>
  <% end %>
<% end %>

<% content_for :javascripts do %>
  <script>
    $(document).ready(function () { 
        $("#quarto_numero").mask('9999');
        $("#quarto_numero_pessoas").mask('9');
    });
  </script>
<% end %>