<div class="row page-title">
  <div class="col-xs-8">
    <h2><%= @title %></h2>
  </div>
  <div class="col-xs-4">
    <%= link_to @all_titles[:create], new_quarto_path, class: 'btn btn-primary pull-right' %>
  </div>
</div>

<h3><%= @url %></h3>

<%= bootstrap_form_tag(url: quartos_path, layout: :horizontal, method: :get, html: { class: 'form-search' }) do |f| %>
  <div class="row">
    <label class="col-sm-2 control-label" for="search"><%= I18n.t('general.search') %></label>
    <div class="col-sm-8">
      <%= search_field_tag :search, params[:search], class: 'form-control', hide_label: true, placeholder: I18n.t('general.search_tip', fields: Quarto.humanize_search_fields.to_sentence.downcase) %>
    </div>
    <div class="col-sm-2">
      <%= f.submit I18n.t('general.search'), class: 'btn btn-primary btn-block' %>
    </div>
  </div>
<% end %>

<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>Número</th>
      <th>Valor da diária</th>
      <th>Número de pessoas</th>
      <th class="text-center action-column">Ações</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td colspan="4"><%= page_entries_info @items %></td>
    </tr>
  </tfoot>
  <% if @items.present? %>
    <tbody>
      <% @items.each do |quarto| %>
        <tr>
          <td><%= quarto.numero %></td>
          <td><%= quarto.valor_diaria %></td>
          <td><%= quarto.numero_pessoas %></td>
          <td class="text-center">
            <!-- Single button -->
            <div class="btn-group">
              <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-cog"></span> <span class="caret"></span>
              </button>
              <ul class="dropdown-menu pull-right">
                <li><a href="<%= quarto_path(quarto) %>"><span class="glyphicon glyphicon-eye-open"></span> Ver</a></li>
                <li><a href="<%= edit_quarto_path(quarto) %>"><span class="glyphicon glyphicon-edit"></span> Editar</a></li>
              </ul>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</table>

<%= paginate(@items) if @items.present? %>

<% content_for :javascripts do %>
  <script>
    $(document).ready(function() {
      $('#modal-quarto #btn-confirm-remove').click(function() {
        var formId = $(this).data('form');

        if (formId) {
          $(formId).submit();
        }
      });

      $('.btn-delete-quarto').click(function() {
        var formId = $(this).attr('href'),
          quartoNome = $(this).data('nome');

        $('#modal-quarto .quarto-nome').html(quartoNome);
        $('#modal-quarto #btn-confirm-remove').data('form', formId);

        $('#modal-quarto').modal();
      });
    });
  </script>
<% end %>