<h3><%= @title %></h3>

<dl class="dl-horizontal">
  <dt>Número:</dt>
  <dd><%= @item.numero %></dd>

  <dt>Valor da diária:</dt>
  <dd><%= @item.valor_diaria %></dd>

  <dt>Número de pessoas:</dt>
  <dd><%= @item.numero_pessoas %></dd>
</dl>

<%= bootstrap_form_for(@item, method: :delete) do |f| %>
  <%= link_to 'Voltar', quartos_path, class: 'btn btn-primary' %>
  <%= link_to 'Editar', edit_quarto_path(@item), class: 'btn btn-primary' %>

  <%= f.submit 'Remover', class: 'btn btn-danger' %>
<% end %>
