<table id="dashboard-table" class="table table-bordered" style="background-color:white;margin-bottom:0">
  <thead>
    <th class="quarto text-center">Quarto</th>

    <% (@data_inicial..@data_final).each do |tmp_data| %>
      <th class="quadrado text-center"><%= tmp_data.strftime('%d/%m') %></th>
    <% end %>
  </thead>
  <tbody>
    <%
    quartos = Quarto.all
    quartos = quartos.where(idquarto: @info.keys) if @only_occupied.present?
    %>

    <% if quartos.present? %>
      <% quartos.each do |quarto| %>
        <tr>
          <td class="quarto"><%= quarto.numero %></td>
  
          <% (@data_inicial..@data_final).each do |tmp_data| %>
            <td class="quadrado text-center">
              <span class="<%= @info[quarto.id].present? && @info[quarto.id].include?(tmp_data) ? 'unavailable' : '' %> need-tooltip" data-toggle="tooltip" data-placement="top" title="<%= tmp_data.strftime('%d/%m') %>"></span>
            </td>
          <% end %>
        </tr>
      <% end %>
    <% else %>
        <tr>
          <td class="quarto" colspan="<%= (@data_inicial..@data_final).count + 1 %>">Nenhuma reserva encontrada para o período.</td>
        </tr>
    <% end %>
  </tbody>
</table>