<div class="dashboard-container" style="margin-bottom:15px">
  <h2>Dashboard</h2>

  <%= bootstrap_form_tag(url: dashboard_path, layout: :horizontal, method: :get, html: { class: 'form-search' }) do |f| %>
    <div class="row">
      <label class="col-sm-2 control-label" for="search"><%= I18n.t('general.search') %></label>
      <div class="col-sm-8">
        <%= text_field_tag :data, @data.strftime('%d/%m/%Y'), class: 'form-control', hide_label: true, placeholder: I18n.t('general.date_tip') %>
        <p class="help-block">Pesquise por data.</p>
      </div>
      <div class="col-sm-2">
        <%= f.submit I18n.t('general.search'), class: 'btn btn-primary btn-block' %>
      </div>
    </div>
  <% end %>

  <%= render 'relatorios/dashboard_info' %>
</div>

<% content_for :javascripts do %>
<script type="text/javascript">
  $(function () {
    $('.need-tooltip').tooltip();
    $('#data').mask('00/00/0000');
  });
</script>
<% end %>