<h3 class="text-center" style="margin-bottom:20px;">
    <span style="background:white;border-radius:5px;padding:5px">Resumo da semana</span>
</h3>

<div class="row">
  <div class="col-xs-4 col-xs-offset-4">
        <div style="background:white;border-radius:5px;padding:5px;margin-bottom:15px">
            <%= render 'relatorios/dashboard_info' %>
        </div>
        
        <a class="btn btn-primary btn-block" href="<%= dashboard_url %>" role="button">Ver completo</a>
    </div>
</div>