<%# The container tag
  - available local variables
    current_page:  a page object for the currently displayed page
    total_pages:   total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
    paginator:     the paginator that renders the pagination tags inside
-%>
<%= paginator.render do %>
  <nav aria-label="Menu de paginação">
    <ul class="pagination">
      <% unless current_page.first? %>
        <li><%= first_page_tag %></li>
        <li><%= prev_page_tag %></li>
      <% end %>

      <% each_page do |page| %>
        <% if page.display_tag? %>
          <li class="<%= page == current_page ? 'active' : '' %>"><%= page_tag page %></li>
        <% elsif !page.was_truncated? %>
          <li><%= gap_tag %></li>
        <% end %>
      <% end %>

      <% unless current_page.last? %>
        <li><%= next_page_tag %></li>
        <li><%= last_page_tag %></li>
      <% end %>
  </nav>
<% end %>
