<%= bootstrap_form_for(@item, layout: :horizontal, label_col: 'col-sm-3', control_col: 'col-sm-9') do |f| %>
  <%= f.text_field :nome, control_col: 'col-sm-4' %>
  <%= f.email_field :email, control_col: 'col-sm-4' %>
  <%= f.text_field :rg, control_col: 'col-sm-2' %>
  <%= f.text_field :cpf, control_col: 'col-sm-2' %>

  <%= f.text_field :data_nascimento, control_col: 'col-sm-3' %>

  <%= f.text_field :telefone, control_col: 'col-sm-2' %>
  <%= f.text_field :celular, control_col: 'col-sm-2' %>

  <hr />

  <%= f.form_group do %>
    <%= f.primary 'Salvar' %>

    <%= link_to 'Voltar', funcionarios_path, class: 'btn btn-primary' %>
  <% end %>
<% end %>

<% content_for :javascripts do %>
  <script>
    $(document).ready(function () { 
        $("#funcionario_cpf").mask('999.999.999-99');
        $("#funcionario_telefone, #funcionario_celular").mask('(99) 99999-9999');
        $("#funcionario_data_nascimento").mask('00/00/0000');
    });
  </script>
<% end %>