<h3><%= @title %></h3>

<dl class="dl-horizontal">
  <dt>Nome:</dt>
  <dd><%= @item.nome %></dd>

  <dt>E-mail:</dt>
  <dd><%= @item.email %></dd>

  <dt>RG:</dt>
  <dd><%= @item.rg %></dd>

  <dt>CPF:</dt>
  <dd><%= Util.mask_cpf @item.cpf %></dd>

  <dt>Data de aniversário:</dt>
  <dd><%= l @item.data_nascimento if @item.data_nascimento? %></dd>

  <dt>Telefone:</dt>
  <dd><%= @item.telefone %></dd>

  <dt>Celular:</dt>
  <dd><%= @item.celular %></dd>
</dl>

<%= bootstrap_form_for(@item, method: :delete) do |f| %>
  <%= link_to 'Voltar', funcionarios_path, class: 'btn btn-primary' %>
  <%= link_to 'Editar', edit_funcionario_path(@item), class: 'btn btn-primary' %>

  <%= f.submit 'Remover', class: 'btn btn-danger' %>
<% end %>
