<!DOCTYPE html>
<html>
  <head>
    <title><%= ['Reservas Hoteleiras', @title].compact.join(' - ') %></title>

    <% version = Faker::Number.number(10) %>

    <link rel="stylesheet" href="/css/base.css?v=<%= version %>" />
    <link rel="stylesheet" href="/css/bootstrap.min.css?v=<%= version %>" />
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css?v=<%= version %>" />
    <link rel="stylesheet" href="/css/font-google-api.css?v=<%= version %>" />

    <%= yield :stylesheets %>

    <%= csrf_meta_tags %>
  </head>
  <body class="<%= @body_css_class || params[:controller] %>">
    <%= render('layouts/menu', format: :html) if @current_user.present? %>

    <div class="container">
      <% if flash.present? %>
        <% proxy_alert_class_hash = { notice: 'info', error: 'danger' } %>
        <div class="alert-container">
          <% flash.each do |name, msg| %>
            <div class="alert alert-<%= proxy_alert_class_hash[name.to_sym].present? ? proxy_alert_class_hash[name.to_sym] : name %> alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
              <%= msg %>
            </div>
          <% end %>
        </div>
      <% end %>

      <%= yield %>
    </div>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.mask.min.js"></script>

    <%= yield :javascripts %>
  </body>
</html>
